./test_data
./third_parties

artifacts

.pytest_cache
.idea
*.pyc
.objs
.depends
build
*.swp
magic.mgc
build_log
*.log
*.rdb
core.*
*.ymal
*.pyc
installs
core
yarn.lock
*.a
*.lib
*.so
*.so.*
*.o
debug
release
.vscode
